main {
  max-width: 1200px;
  margin: 5rem auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.card {
    transition: 250ms;
    text-decoration: none;

    &:hover {
      scale: 0.98;
    }
  }
}
