<main class="container">
  <form
    [formGroup]="employeeForm"
    class="form-container"
    (ngSubmit)="onSubmit()"
  >
    <h4>Identité:</h4>
    <div class="mb-3">
      <input
        type="text"
        placeholder="Nom complet"
        formControlName="fullName"
        class="form-control"
        [class.is-invalid]="fullName?.invalid && fullName?.touched"
        [class.is-valid]="!fullName?.invalid && fullName?.touched"
      />
      <div class="invalid-feedback">Les noms sont obligatoires</div>
    </div>
    <div class="mb-3">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        class="form-control"
        [class.is-invalid]="email?.invalid && email?.touched"
        [class.is-valid]="!email?.invalid && email?.touched"
      />
      <div class="invalid-feedback">
        @if(email?.hasError('required')) {
        <span>L'Email est obligatoire</span>
        } @else {
        <span>L'Email est erroné</span>
        }
      </div>
    </div>
    <div class="mb-3">
      <input
        type="text"
        placeholder="Phone"
        formControlName="phone"
        class="form-control"
        [class.is-invalid]="phone?.invalid && phone?.touched"
        [class.is-valid]="!phone?.invalid && phone?.touched"
      />
      <div class="invalid-feedback">
        @if(phone?.hasError('required')) {
        <span>Le numéro de téléphone est obligatoire</span>
        } @else {
        <span>Le numéro de téléphone est erroné</span>
        }
      </div>
    </div>
    <div class="mb-3">
      <select
        formControlName="sexe"
        class="form-control"
        [class.is-invalid]="sexe?.invalid && sexe?.touched"
        [class.is-valid]="!sexe?.invalid && sexe?.touched"
      >
        <option value="">Selectionnez un sexe</option>
        <option value="M">Masculin</option>
        <option value="F">Féminin</option>
      </select>
      <div class="invalid-feedback">
        <span>Le sexe est obligatoire</span>
      </div>
    </div>

    <hr />
    <div [formGroup]="employeeForm.controls.address">
      <h4>Adresse:</h4>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Rue"
          formControlName="street"
          class="form-control"
          [class.is-invalid]="street?.invalid && street?.touched"
          [class.is-valid]="!street?.invalid && street?.touched"
        />
        <div class="invalid-feedback">
          <span>La rue est obligatoire</span>
        </div>
      </div>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Ville"
          formControlName="city"
          class="form-control"
          [class.is-invalid]="city?.invalid && city?.touched"
          [class.is-valid]="!city?.invalid && city?.touched"
        />
        <div class="invalid-feedback">
          <span>La ville est obligatoire</span>
        </div>
      </div>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Province"
          formControlName="state"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Pays"
          formControlName="country"
          class="form-control"
          [class.is-invalid]="country?.invalid && country?.touched"
          [class.is-valid]="!country?.invalid && country?.touched"
        />
        <div class="invalid-feedback">
          <span>Le pays est obligatoire</span>
        </div>
      </div>
    </div>
    <hr />
    <div formArrayName="hobbies">
      <h4>Passe temps:</h4>
      @for(hobbyForm of employeeForm.controls.hobbies.controls; track $index) {
      <div class="input-group mb-3">
        <input
          placeholder="Ex: chant, lecture, course à pied, enseignement"
          type="text"
          [formControlName]="$index"
          class="form-control"
          [class.is-invalid]="
            $index === 0 && hobbyForm.invalid && hobbyForm.touched
          "
          [class.is-valid]="
            $index === 0 && !hobbyForm.invalid && hobbyForm.touched
          "
        />
        @if($index) {
        <button
          class="btn btn-danger"
          type="button"
          (click)="removeHobbyForm($index)"
        >
          <i class="fa-solid fa-circle-xmark"></i>&nbsp;Rétirer
        </button>
        }
        <div class="invalid-feedback">
          <span>Ce champ est obligatoire</span>
        </div>
      </div>

      }
      <div class="mb-3">
        <button class="btn btn-primary" type="button" (click)="addHobbyForm()">
          <i class="fa-solid fa-plus"></i>&nbsp;Ajouter
        </button>
      </div>
    </div>
    <hr />
    <div class="text-end mb-3">
      <button class="btn btn-success" type="submit">
        <i class="fa-solid fa-floppy-disk"></i>&nbsp;Soumettre
      </button>
    </div>
  </form>
</main>
